includes:
    - vendor/symplify/phpstan-extensions/config/config.neon

parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false

    # to allow installing with various phsptan versions without reporting old errors here
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # traits
        - '#Access to an undefined property Knp\\DoctrineBehaviors\\Tests\\Fixtures\\ORM\\TreeNodeEntity::\$parentNodePath#'
        - '#Call to an undefined method Knp\\DoctrineBehaviors(.*?)#'

        # buggy
        - '#does not accept Doctrine\\Common\\Persistence\\ObjectRepository#'
        - '#of function call_user_func_array expects callable#'

        # mixed
        - '#has no return typehint specified#'
        - '#return type has no value type specified#'
        - '#has parameter (.*?) with no (typehint|value type) specified#'
        - '#has no typehint specified#'

        - '#Parameter \#1 \$input of function array_filter expects array, array<int, string\>\|false given#'
        - '#Method Knp\\DoctrineBehaviors\\Tests\\Fixtures\\Repository\\GeocodableRepository\:\:findOneByTitle\(\) should return Knp\\DoctrineBehaviors\\Contract\\Entity\\GeocodableInterface but returns object\|null#'

        - '#Method Knp\\DoctrineBehaviors\\Tests\\Fixtures\\Repository\\TreeNodeRepository\:\:getTree\(\) should return array<Knp\\DoctrineBehaviors\\Contract\\Model\\Tree\\NodeInterface\>\|ArrayAccess\|null but returns ArrayAccess\|Knp\\DoctrineBehaviors\\Contract\\Model\\Tree\\NodeInterface\|null#'

        -
            message: '#Property Knp\\DoctrineBehaviors\\Tests\\ORM\\GeocodableTest\:\:\$geocodableEntityRepository \(Knp\\DoctrineBehaviors\\Tests\\Fixtures\\ORM\\GeocodableEntityRepository\) does not accept Doctrine\\Persistence\\ObjectRepository#'
            path: tests/ORM/GeocodableTest.php

        - '#Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string<T of object\>\|T of object, string given#'
        - '#PHPDoc tag @var for variable \$entity has invalid type Knp\\DoctrineBehaviors\\Model\\Uuidable\\UuidableTrait#'
        # cache buggy
        - '#Return typehint of method Knp\\DoctrineBehaviors\\Tests\\Fixtures\\Entity\\TreeNodeRepository\:\:getTree\(\) has invalid type Knp\\DoctrineBehaviors\\Model\\Tree\\NodeInterface#'
        - '#Access to an undefined property Knp\\DoctrineBehaviors\\Tests\\Fixtures\\Entity\\TreeNodeEntity\:\:\$parentNodePath#'
