<?xml version="1.0" encoding="UTF-8"?>
<phpunit
     colors="true"
     bootstrap="tests/bootstrap.php"
>
    <php>
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="Knp\DoctrineBehaviors\Tests\HttpKernel\DoctrineBehaviorsKernel" />
    </php>
    <testsuites>
        <testsuite name="Knp Doctrine2 Behaviors">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
