parameters:
    knp.doctrine_behaviors.translatable_listener.class: Knp\DoctrineBehaviors\ORM\Translatable\TranslatableListener
    knp.doctrine_behaviors.softdeletable_listener.class: Knp\DoctrineBehaviors\ORM\SoftDeletable\SoftDeletableListener
    knp.doctrine_behaviors.timestampable_listener.class: Knp\DoctrineBehaviors\ORM\Timestampable\TimestampableListener
    knp.doctrine_behaviors.blameable_listener.class: Knp\DoctrineBehaviors\ORM\Blameable\BlameableListener
    knp.doctrine_behaviors.blameable_listener.user_callable.class: Knp\DoctrineBehaviors\ORM\Blameable\UserCallable
    knp.doctrine_behaviors.blameable_listener.user_entity: ~
    knp.doctrine_behaviors.geocodable_listener.class: Knp\DoctrineBehaviors\ORM\Geocodable\GeocodableListener

services:
    knp.doctrine_behaviors.translatable_listener:
        class:   %knp.doctrine_behaviors.translatable_listener.class%
        public:  false
        tags:
            - { name: doctrine.event_subscriber }

    knp.doctrine_behaviors.softdeletable_listener:
        class:   %knp.doctrine_behaviors.softdeletable_listener.class%
        public:  false
        tags:
            - { name: doctrine.event_subscriber }

    knp.doctrine_behaviors.timestampable_listener:
        class:   %knp.doctrine_behaviors.timestampable_listener.class%
        public:  false
        tags:
            - { name: doctrine.event_subscriber }

    knp.doctrine_behaviors.blameable_listener:
        class:   %knp.doctrine_behaviors.blameable_listener.class%
        arguments:
            - @knp.doctrine_behaviors.blameable_listener.user_callable
            - %knp.doctrine_behaviors.blameable_listener.user_entity%
        public:  false
        tags:
            - { name: doctrine.event_subscriber }

    knp.doctrine_behaviors.blameable_listener.user_callable:
        class:           %knp.doctrine_behaviors.blameable_listener.user_callable.class%
        arguments:
            - @service_container # because of circular dep
        public:  false

    knp.doctrine_behaviors.geocodable_listener:
        class:   %knp.doctrine_behaviors.geocodable_listener.class%
        public:  false
        tags:
            - { name: doctrine.event_subscriber }
